@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Light.woff2') format('woff2'),
    url('../fonts/Lato-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.woff2') format('woff2'),
    url('../fonts/Lato-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.theme-light {
  --bg-color-primary: #e2e8f0; /* gray-300 */
  --bg-color-secondary: white; /* white */
  --bg-color-ternary: #cbd5e0; /* gray-400 */
  --bg-color-overlay: black; /* black */
  --text-color-primary: #4a5568; /* gray-700 */
  --text-color-secondary: #718096; /* gray-600 */
  --text-color-ternary: #1a202c; /* gray-900 */
  --text-color-disabled: #cbd5e0; /* gray-400 */
  --border-color-primary: #cbd5e0; /* gray-400 */
}

.theme-dark {
  --bg-color-primary: #1a202c; /* gray-900 */
  --bg-color-secondary: #2d3748; /* gray-800 */
  --bg-color-ternary: #cbd5e0; /* gray-400 */
  --bg-color-overlay: white; /* white */
  --text-color-primary: #f7fafc; /* gray-100 */
  --text-color-secondary: #cbd5e0; /* gray-400 */
  --text-color-ternary: white; /* white */
  --text-color-disabled: #4a5568; /* gray-700 */
  --border-color-primary: #4a5568; /* gray-700 */
}

/* * {
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
} */

html,
body,
#__nuxt,
#__layout {
  @apply h-full;
  /* font-family: 'Lato'; */
}

body,
.content {
  transition: background-color 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

nav .nuxt-link-exact-active {
  @apply bg-secondary text-ternary font-semibold;
}
